<app-minimenu></app-minimenu>
<div class="row">
    <div class="col col-md-2 color1 fullheight"></div>
    <div class="col col-md-2 color2 fullheight"></div>
    <div class="col col-md-2 color3 fullheight"></div>
    <div class="col col-md-6 color4 fullheight"></div>
</div>

<style>
    
    .color1 {
        background-color: #f44336;
    }
    .color2 {
        background-color: #bcd81d;
    }
    .color3 {
        background-color: #9c27b0;
    }
    .color4 {
        background-color: #2789b0;
    }
    .fullheight {
        height: 100vh;
    }
</style>