


<form class="" id="RegisterForm" class="hide" [formGroup]="RegisterForm" (ngSubmit)="submit()">
    <div class="row center-align">
        <h4 class="white-text">Register</h4>
    </div>
    <div class="row">
        <div class="input-field">
            <input id="username" formControlName="username" type="text" class="validate">
            <label for="username">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input id="password" formControlName="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row center-align">
        <button class="btn waves-effect waves-light">
            Register
        </button>
    </div>
    <div class="whiteText">

        <p> this app is for </p>
        <p></p>
         <p> * draw polygon-multypolygon</p>
             <p> * trace drawen polygon on map</p>
                 <p></p>
                     <p> * also u have predata for all countries</p>
                         <p> and all cities of TURKEY</p>
                             <p></p>
                             <p> * Finally u can intersect your poylgons with DEM-Data</p>
                                 <p> as colored raster image</p>
    
    </div>                    
    <ul class="animate">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</form>